<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Plantilla base</title>
    {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
</head>
<body>
    <header>
        <h1>Plantilla base</h1>
        <img src="{{url_for('static', filename = 'img/circuito.png')}}" alt="">
        {% include 'includes/navegation.html' %}
    </header>
    <section id="contenido">
        {% block contenido %}
            <h1>Plantilla base para flask</h1>
        {% endblock %}
    </section>
</body>
</html>